{% extends 'base_user.html' %}
{% load static %}
{% block contents %}
<!-- <div class="container">
<div class="row justify-content-center">
<div class="col-md-9">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>

</div>
</div>
</div> -->


<style type="text/css">
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .h3{
      text-align: center;
    }
  </style>
  
  
  <form action="{% url 'password_submit' %}" method="POST" class="form-signin">
    {% csrf_token %}

    <span>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{message.tags}} m-1 p" id="msg" role="alert"
          style="padding: 1px; background-color: rgba(240, 10, 10, 0.952);">
          {{ message }}
      </div>
      {% endfor %}
      {% endif %}
  </span>

    <h1 class="h3 mb-3 font-weight-normal">Change password</h1>
      <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
      <input name="new_password1" class="form-control" placeholder="New password" type="password" onchange='onChange()' id="id_new_password1" required="true">
      <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" onchange='onChange()' id="id_new_password2" required="true">
      <span id='message'></span>
      {% for field in form %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      {% endfor %}
  
    <button id="id_submit_btn" class="btn btn-lg btn-primary btn-block" type="submit">Update</button>  
  </form>


    <script>
      function onChange(){
      $('#id_new_password1, #id_new_password2').on('keyup', function () {
          if ($('#id_new_password1').val() == $('#id_new_password2').val()) {
              $('#message').html('Matching').css('color', 'green');
          } else
              $('#message').html('Not Matching').css('color', 'red');
              document.getElementById('id_submit_btn').addEventListener('submit', (e)=> e.preventDefault())

      });
    }
  </script>
  
{% endblock %}