<!doctype html>
{% load static %}
<html lang="en">
  <head>
  	<title>Contact Form 06</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="{% static 'css_contact/style.css' %}">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container "   >
			<div class="row justify-content-center">
				<div class="col-md-12 text-center mb-5">
					<h2 class="heading-section">Add New Address </h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters mb-5">
							<div class="col-md-12">
								<div class="contact-wrap w-100 p-md-5 p-4">
									
									<div  class="mb-4"></div> 
				      		<div  class="mb-4">
				            
				      		</div>
									<form method="POST"  action="{% url 'address_submit' user.id %}" class="contactForm">
										{% csrf_token %}
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="fullname"  placeholder="Name" required>
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="moblile">Mobile</label>
													<input type="tel" class="form-control" name="phone"  placeholder="phone" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Pincode</label>
													<input type="text" class="form-control" name="pin"  placeholder="zip" required>
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">State</label>
													<input type="text" class="form-control" name="state"  placeholder="state" required>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">City</label>
													<input type="text" class="form-control" name="city"  placeholder="city" required>
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Dist</label>
													<input type="text" class="form-control" name="district"  placeholder="" required>
												</div>
											</div>

											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Address(Area and Street)</label>
													<input type="text" class="form-control" name="address"
													placeholder="Address" required>
												</div>
											</div>
										
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							
						</div>
					
			          
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="{% static 'js_contact/jquery.min.js' %}"></script>
  <script src="{% static 'js_contact/popper.js' %}"></script>
  <script src="{% static 'js_contact/bootstrap.min.js' %}"></script>
  <!-- <script src="{% static 'js_contact/jquery.validate.min.js' %}"></script> -->
  {% comment %} <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script> {% endcomment %}
  <script src="{% static 'js_contact/google-map.js' %}"></script>
  <script src="{% static 'js_contact/main.js' %}"></script>

	</body>
</html>

