{% extends 'base.html' %}
{% load static %}


{% load humanize %}


{% block contents %}

<section class="content-main">
    <div class="content-header">
        <h2 class="content-title"> Order managment </h2>
    </div>
    </header> <!-- card-header end// -->
    <div class="table-responsive">
        <table  class="table table-bordered ">
            <thead >
                <tr>

                    <th style="color: black;" >User</th>
                    <th style="color: black;">Date</th>
                    <th  style="color: black;">Payment method</th>
                    <th style="color: black;">Product</th>
                    <th style="color: black;">Stock</th>
                    <th style="color: black;">Total</th>
                    <th style="color: black;">Status</th>
                    <th style="color: black;" class="text-end">Actions</th>
                    

                </tr>
            </thead>
            <tbody>
            {% for k in order_dtl %}
            {% if k.status == "cancelled"  %}
                <tr class=" alert-danger">
                    <td>{{k.username.username}}</td>
                    <td style="color: blue;">{{k.date|naturaltime }}</td>
                    <td><span class="badge rounded-pill alert-success">{{k.payment_method}}</span></td>
                    <td style="color: green;">{{k.product.productname}}</td>
                    <td style="color: green;">{{k.product_stock}}</td>
                    <td style="color: rgba(255, 0, 0, 0.712);">{{k.total}}</td>
                    <td style="color: rgba(255, 0, 0, 0.712);"><span id="statusChanging" class="badge rounded-pill alert-success ">{{k.status}}</span></td> 
            {% else %}
                <tr class="" style="background-color: aquamarine;" >
                    <td>{{k.username.username }}</td>
                    <td style="color: blue;">{{k.date }}</td>
                    <td><span class="badge rounded-pill alert-success">{{k.payment_method}}</span></td>
                     <td style="color: green;">{{k.product.productname}}</td>
                    <td style="color: green;">{{k.product_stock}}</td>
                    <td style="color: red;">{{k.total}}</td>
                    <td><span id="statusChanging" class="badge rounded-pill alert-success ">{{k.status}}</span></td>
                                  
                {% endif %}                  
                    <td class="text-end">
						<div class="">
							<a href="#">
									 </a>
							<div>
                                {% if k.status == "cancelled"  %} 
                                {% else %} 
                                    <select   name="cars" id="select_id" onchange="change(this,{{k.id}})">
                                      <option   value="">Select Action</option>
                                      <option    value="order placed">order placed</option>
                                      <option   value="item shipped">item shipped</option>
                                      <option   value="order deliverd">order deliverd</option>
                                      <option   value="cancelled">order cancelled</option>
                                    </select>
                                    {% endif %}   
						</div>

						</div>
						<!-- dropdown //end -->
					</td>
                   

                </tr>
                
                {% endfor %}             

            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if order_dtl.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ order_dtl.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ order_dtl.number }} of {{ order_dtl.paginator.num_pages }}.
                </span>
        
                {% if order_dtl.has_next %}
                    <a href="?page={{ order_dtl.next_page_number }}">next</a>
                    <a href="?page={{ order_dtl.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
    </div>


</section>


</main>



{% endblock %}