{% extends 'base.html' %}
{% load static %}

{% block contents %}


<section class="content-main">
     <div class="content-header">
          <h2 class="content-title">Brand</h2>
     </div>

     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-{{message.tags}} m-1 p" id="msg" role="alert"
          style="padding: 1px; background-color: rgb(0, 255, 13);">
          {{ message }}
     </div>
     {% endfor %}
     {% endif %}
     <div class="card">
          <div class="card-body">
               <div class="row">
                    <div class="col-md-4">
                         <span>

                         </span>
                         <form onclick="return formee()" action="create_brand" method="POST">
                              {% csrf_token %}

                              <label style="margin-bottom: 2em;" for="category">Please Choose category:</label>
                              <select name="category" id="catgeee">
                                   <option  value="" disabled selected hidden>select</option>
                                   {% for catg in catgs %}
                                   <option value="{{catg.id}}">{{catg.category_name}}</option>
                                   {% endfor %}
                              </select>

                              
                              <div id="brandeee">
                              <label style="margin-bottom: 2em;" for="category">Please Sub category:</label>
                              <select name="subcategory" id="catg">
                                   <option  value="" disabled selected hidden>select</option>
                                   
                              </select>
                              </div>

                              <div class="mb-4">
                                   <label for="sub_cat_name" class="form-label">Name</label>
                                   <div><span style="color: red;" id="error1"></span></div>
                                   <input type="text" onkeyup="nme()" placeholder="Type here" name="brand_name" class="form-control"
                                        id="product_name" />
                              </div>
                              <div class="mb-4">
                                   <label for="product_slug" class="form-label">Slug</label>
                                   <div><span style="color: red;" id="error2"></span></div>
                                   <input type="text" onkeyup="slugee()" placeholder="Type here" name="slug" class="form-control"
                                        id="product_slug" />
                              </div>
                              <div class="d-grid">
                                   <button class="btn btn-primary">Create Brand</button>
                              </div>
                         </form>
                    </div>
                    <div id="tableeee" class="col-md-8">

                         <table class="table table-hover">
                              <thead>

                                   <tr>
                                        <th>
                                             <div class="form-check">

                                             </div>
                                        </th>
                                        <th>ID</th>
                                        <th>Catogory name</th>
                                        <th>subcatgry name</th>
                                        <th>Brand name</th>
                                        <th>Description</th>
                                        <th>Slug</th>
                                        <th>Order</th>
                                        <th class="text-end">Action</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   {% for brand in brands %}
                                   <tr>
                                        <td>
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="" />
                                             </div>
                                        </td>
                                        <td>{{brand.id}}</td>
                                        <td><b>{{brand.category_name}}</b></td>
                                        <td><b>{{brand.sub_category_name}}</b></td>
                                        <td><b>{{brand.brand_name}}</b></td>
                                        <td></td>
                                        <td>{{brand.slug}}</td>
                                        <td></td>
                                        <td class="text-end">
                                             <div class="dropdown">
                                                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                                            class="material-icons md-more_horiz"></i> </a>
                                                  <div class="dropdown-menu">

                                                       <a class="dropdown-item"
                                                            href="{% url 'brand_edit' brand.id %}">Edit info</a>
                                                       <a style="cursor: pointer;" class="dropdown-item text-danger"
                                                            onclick="dlt('{{brand.id}}')"
                                                            >Delete</a>
                                                  </div>

                                             </div>
                                             <!-- dropdown //end -->
                                        </td>

                                   </tr>
                                   {% endfor %}
                              </tbody>
                         </table>

                    </div> <!-- .col// -->
               </div> <!-- .row // -->
          </div> <!-- card body .// -->
     </div> <!-- card .// -->
</section> <!-- content-main end// -->

<script>



     function nme(){
     
          let name = document.getElementById('product_name').value
          if(name == 0){
               document.getElementById('error1').innerText = "field required!!";
               return false
          }else{
               document.getElementById('error1').innerText = "";
               return true
          }
     }

     function slugee(){
     
          let name = document.getElementById('product_slug').value
          if(name == 0){
               document.getElementById('error2').innerText = "field required!!";
               return false
          }else{
               document.getElementById('error2').innerText = "";
               return true
          }
     }



     function formee(){
          if(nme() && slugee()){
               return true
          }
          else{
               nme()
               slugee()
               return false
          }
     }
</script>


     <script>
          function dlt(id){
              swal({
                  title: "Are you sure?",
                  icon: "warning",
                  buttons: true,
                  dangerMode: true,
                })
                .then((willDelete) => {
                  if (willDelete) {
                      var data = { 'id': id, "csrf_token": '{{csrf_token}}' }
                      $.ajax({
                          url: "{% url 'brand_delete'  %}",
                          method: "POST",
                          data: data,
                          success: function (resp) {
                              swal("Poof! Your imaginary file has been deleted!",{
                                  icon: "success",
                                }); 
                                $( "#tableeee" ). load(window. location. href + " #tableeee" );
                          } 
                      })
                   
                  } else {
                    swal("Your brand not deleted");
                  }
                });
          }
      </script>


	<script>
		function slecter(){
			let cat_id = document.getElementById('catgeee').value
			var data = {'id' : cat_id, "csrf_token": '{{csrf_token}}'}
			$.ajax({
				url : "{% url 'brand_select'  %}",
				method: "POST",
				data : data,
				success : function(data){
					var cart = data.data;
					document.getElementById('brandeee').innerHTML = cart;
	 	
				}
			})   
		}



		document.getElementById('catgeee').addEventListener("change",slecter)
	</script>
      
{% endblock %}