{% extends 'base_user.html' %}
{% load static %}

{% block contents %}
{% load humanize %}

<head>
    <style>
        label.cabinet {
            display: block;
            cursor: pointer;
        }

        label.cabinet input.file {
            position: relative;
            height: 100%;
            width: auto;
            opacity: 0;
            -moz-opacity: 0;
            filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
            margin-top: -30px;
        }

        #upload-demo {
            width: 250px;
            height: 250px;
            padding-bottom: 25px;
        }


        a {
            color: inherit;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            height: 100vh;
            width: 100%;
        }

        h1 {
            font-family: sans-serif;
            text-align: center;
            font-size: 30px;
            color: #222;
        }

        .profile-pic-div {
            margin-top: 250px;
            height: 150px;
            width: 150px;
            position: absolute;
            top: -4%;
            left: 87%;
            transform: translate(-50%, -50%);
            border-radius: 50%;
            overflow: hidden;
            border: 1px solid grey;
        }

        #photo {
            height: 100%;
            width: 100%;
        }

        #file {
            display: none;
        }

        #uploadBtn {
            height: 40px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            background: rgba(0, 0, 0, 0.7);
            color: wheat;
            line-height: 30px;
            font-family: sans-serif;
            font-size: 15px;
            cursor: pointer;
            display: none;
        }
    </style>


    <!-- account area start -->
    <div class="account-dashboard pt-100px pb-100px">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <div class="dashboard_tab_button" data-aos="fade-up" data-aos-delay="0">
                        <ul role="tablist" class="nav flex-column dashboard-list">
                            <li> <a href="#orders" data-bs-toggle="tab" class="nav-link active">Orders</a></li>
                            <li><a href="#account-details" data-bs-toggle="tab" class="nav-link">Account details</a>
                            </li>
                            <li><a href="{% url 'change_password' %}" class="nav-link">Change Password</a>
                            </li>


                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content" data-aos="fade-up" data-aos-delay="200">
                        <div class="tab-pane fade show active" id="orders">
                            <h4>Orders</h4>
                            <div  >
                                <table  class="table table-bordered border-primary">
                                    <thead>

                                        <tr>
                                            <th>Date</th>
                                            <th>Order No</th>
                                            <th>Payment method</th>
                                            <th>Product</th>
                                            <th>Stock</th>
                                            <th>Total</th>
                                            <th>Status</th>
                                            <th>Actions</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for k in order_dtl %}
                                        <tr>

                                            <td style="color: blue;">{{k.date|timesince}}</td>
                                            <td style="color: blue;">{{k.order_number.order_no}}</td>
                                            <td style="color: green;">{{k.payment_method}}</td>
                                            <td style="color: green;">{{k.product.productname}}</td>
                                            <td style="color: green;">{{k.product_stock}}</td>
                                            <td style="color: red;">{{k.total}}</td>
                                            <td><span class="badge rounded-pill alert-danger">{{k.status}}</span></td>
                                            {% if k.status == "cancelled" %}

                                            {% else %}
                                            <td><a href="{% url 'order_dlt' k.id %}"><button type="button"
                                                        style="height: 2em; width: 8em;" class="btn btn-primary"
                                                        onclick="return confirm('Are you sure you want to cancel this order?');">Cancel</button></a>
                                            </td>
                                            {% endif %}
                                        </tr>
                                        {% endfor %}

                                    </tbody>
                                </table>
                                 <div class="pagination">
                                    <span class="step-links">
                                        {% if order_dtl.has_previous %}
                                            <a href="?page=1">&laquo; first</a>
                                            <a href="?page={{ order_dtl.previous_page_number }}">previous</a>
                                        {% endif %}

                                        <span class="current">
                                            Page {{ order_dtl.number }} of {{ order_dtl.paginator.num_pages }}.
                                        </span>

                                        {% if order_dtl.has_next %}
                                            <a href="?page={{ order_dtl.next_page_number }}">next</a>
                                            <a href="?page={{ order_dtl.paginator.num_pages }}">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                </div>
                            </div>
                        </div>

                      <div class="tab-pane fade" id="account-details">



                            <h3>Account details </h3>
                            <hr>
                            <div class="login">
                                <span id="passage" style="color: red; font-size: larger;"  >  </span>
                                <div class="login_form_container">
                                    {%  if request.user.is_authenticated %}
                                      {% for user in userdtl %}
                                    <div class="account_login_form">
                                        <form onclick="return formeee()" action="{% url 'userprofile_upddate' user.id %}" method="POST" enctype="multipart/form-data">
                                            <div>
                                                <div class="d-flex flex-row justify-content-start mb-3">
                                                {% if user.profile_pic.url == 0 %}

                                                {% else %}
                                                    <div class="image">   <img src="{{user.profile_pic.url}}" class="rounded-circle" style="width: 100px; height:100px ;" >  <span><i class='bx bxs-camera-plus'></i></span> </div>
                                                {% endif %}
                                                    <div class="m-4">
                                                        <div class="input-group">

                                                            <input type="file" name="pic"  accept="image/*" hidden = true class="form-control" id="pic" size="4" placeholder="upload" required >
                                                        </div>
                                                    </div>
                                                    <div class="d-flex flex-column ms-3 user-details">
                                                        <!-- <h4 class="mb-0">Zenda Grace</h4>
                                                        <div class="ratings"> <span>4.0</span> <i class='bx bx-star ms-1'></i> </div> <span>Pro Member</span> -->
                                                    </div>
                                            </div>
                                            
                                            <div class="default-form-box mb-20">
                                                <label>Name</label>
                                                <div><span  style="color: red;" id="error1"></span></div>
                                                <input type="text" name="Name" id="name" onkeyup="nme()" hidden = true  value="{{user.username}}" >
                                                <p id="namep" >{{user.username}}</p>
                                            </div>
                                           
                                            <div class="default-form-box mb-20">
                                                <label>Email</label>
                                                <div><span  style="color: red;" id="error2"></span></div>
                                                <input type="text" onkeyup="emee()" name="Email" id="email" hidden = true  value="{{user.email}}" >
                                                <p  id="emailp" >{{user.email}}</p>
                                            </div>
                                            <div class="default-form-box mb-20">
                                                <label>Mobile No</label>
                                                <div><span  style="color: red;" id="error3"></span></div>
                                                <input type="text" onclick="mobee()" name="MobileNo" id="mobile" hidden = true  value="{{user.mobile_number}}"
                                                    >
                                                    <p id="mobilep"  >{{user.mobile_number}}</p>
                                            </div>
                                            {% endfor %}
                                            {% else %}
                                            <h1>Please Login</h1>
                                            {% endif %}

                                            <br>
                                            <div class="save_button mt-3">

                                                <button class="btn edit" id="edit"   selected onclick ="hidden1()" type="submit">Edit Profile</button>
                                                <button class="btn" id="submit" hidden = true type="submit">Submit</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    </div>

                    
                       

                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- account area start -->


    <script>
        document.getElementById('edit').addEventListener('submit', (e)=> e.preventDefault())
        document.getElementById('submit').addEventListener('submit', (e)=> e.preventDefault())
        function hidden1(){
            document.getElementById('edit').hidden = true
            document.getElementById('submit').hidden = false
            document.getElementById('passage').innerText = "Now you can edit your details!!!"
            document.getElementById('name').hidden = false
            document.getElementById('namep').hidden = true
            document.getElementById('email').hidden = false
            document.getElementById('emailp').hidden = true
            document.getElementById('mobile').hidden = false
            document.getElementById('mobilep').hidden = true
            document.getElementById('pic').hidden = false
            
        }
    </script>

    <script>
        function nme(){
            let value = document.getElementById('name').value
            if(value == 0){
                document.getElementById('error1').innerText = "Field required!!";
                return false
            }else{
                document.getElementById('error1').innerText = "";
                return true
            }
        }

        function emee(){
            let value = document.getElementById('email').value
            if(value == 0){
                document.getElementById('error2').innerText = "Field required!!";
                return false
            }else{
                document.getElementById('error2').innerText = "";
                return true
            }
        }

        function mobee(){
            let value1 = document.getElementById('mobile').value
            if(value1 == 0){
                document.getElementById('error3').innerText = "Field required!!";
                return false
            }
            else{
                document.getElementById('error3').innerText = "";
                return true
            }
        }

       function formeee(){
           if(nme() && emee() && mobee()){
               return true
           }else{
            nme()  
            emee()
            mobee()
            return false
           }
       }

       function checking(event){
           let code = event.which || event.keycode
           if ((code >= 48 && code <= 57)){
            console.log("true")
            return true

       }else{
            console.log("false")
            event.preventDefault()
            return false

            
       }
  }
       document.getElementById('mobile').addEventListener("keypress",checking)
    </script>


  
   


    {% endblock %}