{% extends 'base.html' %}
{% load static %}

{% block contents %}
<section class="content-main">

	<div class="content-header">
		<h2 class="content-title">Products list </h2>
		<div>
			<a href="add_product" class="btn btn-primary"><i class="material-icons md-plus"></i> Create new</a>
		</div>
	</div>


	</header> <!-- card-header end// -->
	     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-{{message.tags}} m-1 p" id="msg" role="alert"
          style="padding: 1px; background-color: rgb(0, 255, 13);">
          {{ message }}
     </div>
     {% endfor %}
     {% endif %}

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">product name</th>
					<th scope="col">brand name</th>
					<th scope="col">stock</th>
					<th scope="col">image</th>
					<th scope="col" class="text-end"> Action </th>
				</tr>
			</thead>
			<tbody>
				{% for product in products%}
				<tr>
					<td><b>{{product.productname}}</b></td>
					<td>{{product.brand_name}}</td>
					<td>{{product.amount_in_stock}}</td>
					<td><img style="width: 3em; " src="{{product.image.url}}" alt=""> </td>
					<td class="text-end">
						<div class="">
							<a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
									class="material-icons md-more_horiz"></i> </a>
							<div class="dropdown-menu">
								<a style="cursor: pointer;" class="dropdown-item" href="Edit_product/{{product.id}}">Edit info</a>
								<a  style="cursor: pointer;" class="dropdown-item text-danger"
									onclick="dleee('{{product.id}}')"
								>Delete</a>
							</div>

						</div>
						<!-- dropdown //end -->
					</td>

					
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div> <!-- table-responsive //end -->
	</div>
	<!-- card-bod

        </section> <!-- content-main end// -->

		<script>
			function dleee(id){

				swal({
					title: "Are you sure?",
					text: "",
					icon: "warning",
					buttons: true,
					dangerMode: true,
				  })
				  .then((willDelete) => {
					if (willDelete) {
						var data = { 'id': id, "csrf_token": '{{csrf_token}}' }
						$.ajax({
							url: "{% url 'product_delete'  %}",
							method: "POST",
							data: data,
							success: function (resp) {
								swal("Your product has been deleted!", {
									icon: "success",
								  }); 
								  location.reload()
							} 
						})
					} else {
					  swal("Your product is safe!");
					}
				  });

			}

		</script>


	{% endblock %}