{% extends 'base.html' %}
{% load static %}

{% block contents %}


<section class="content-main">
     <div class="content-header">
          <h2 class="content-title">Categories</h2>
     </div>
     {% if messages %}
     {% for message in messages %}
     <div class="alert alert-{{message.tags}} m-1 p" id="msg" role="alert"
          style="padding: 1px; background-color: rgb(0, 255, 13);">
          {{ message }}
     </div>
     {% endfor %}
     {% endif %}

     <div class="card">
          <div class="card-body">
               <div class="row">
                    <div class="col-md-4">
                         <span>

                         </span>
                         <form  onclick="return formee()" action="create_category" method="POST">
                              {% csrf_token %}
                              <div class="mb-4">
                                   <label for="sub_cat_name" class="form-label">Name</label>
                                   <div><span style="color: red;" id="error1"></span></div>
                                   <input itemid="cat-name" id="cat-name"  onkeyup   ="nme()" type="text" placeholder="Type here" name="cat_name" class="form-control"
                                         />
                              </div>
                              <div class="mb-4">
                                   <label for="product_slug" class="form-label">Slug</label>
                                   <div><span style="color: red;" id="error2"></span></div>
                                   <input  type="text" onkeyup="slugee()" placeholder="Type here" name="slug" class="form-control"
                                        id="cat_slug" />
                              </div>
                              <div class="mb-4">
                                   <label class="form-label">Description</label>
                                   <div><span style="color: red;" id="error3"></span></div>
                                   <textarea id="dicript" onkeyup="textee()" placeholder="Type here" name="discr" class="form-control"
                                        rows="4"></textarea>
                              </div>
                              <div class="d-grid">
                                   <button class="btn btn-primary">Create category</button>
                              </div>
                         </form>
                    </div>
                    <div class="col-md-8">

                         <table id="tableeee" class="table table-hover">
                              <thead>

                                   <tr>
                                        <th>
                                             <div class="form-check">

                                             </div>
                                        </th>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Description</th>
                                        <th>Slug</th>
                                        <th>Order</th>
                                        <th class="text-end">Action</th>
                                   </tr>
                              </thead>
                              <tbody>
                                   {% for cats in category %}
                                   <tr>
                                        <td>
                                             <div class="form-check">
                                                  <input class="form-check-input" type="checkbox" value="" />
                                             </div>
                                        </td>
                                        <td>{{cats.id}}</td>
                                        <td><b>{{cats.category_name}}</b></td>
                                        <td>{{cats.description}}</td>
                                        <td></td>
                                        <td>{{cats.slug}}</td>
                                        <td class="text-end">
                                             <div class="dropdown">
                                                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                                            class="material-icons md-more_horiz"></i> </a>
                                                  <div class="dropdown-menu">
                                                       <a class="dropdown-item" href="edit_category/{{cats.id}}">Edit
                                                            info</a>
                                                       <a style="cursor: pointer;" class="dropdown-item text-danger"
                                                            onclick="dlt('{{cats.id}}')"
                                                            >Delete</a>
                                                  </div>

                                             </div>
                                             <!-- dropdown //end -->
                                        </td>

                                   </tr>
                                   {% endfor %}


                                   {% comment %} <tr>
                                        <td><i class="material-icons md-subdirectory_arrow_right text-muted"></i></td>
                                        <td>4</td>
                                        <td><b>Hot Gifts</b></td>
                                        <td>Hot Gifts</td>
                                        <td>/gifts</td>
                                        <td>4</td>
                                        <td class="text-end">
                                             <div class="dropdown">
                                                  <a href="#" data-bs-toggle="dropdown" class="btn btn-light"> <i
                                                            class="material-icons md-more_horiz"></i> </a>
                                                  <div class="dropdown-menu">
                                                       <a class="dropdown-item" href="#">View detail</a>
                                                       <a class="dropdown-item" href="#">Edit info</a>
                                                       <a class="dropdown-item text-danger" href="#">Delete</a>
                                                  </div>
                                             </div>
                                             <!-- dropdown //end -->
                                        </td>
                                   </tr> {% endcomment %}
                              </tbody>
                         </table>

                    </div> <!-- .col// -->
               </div> <!-- .row // -->
          </div> <!-- card body .// -->
     </div> <!-- card .// -->
</section> <!-- content-main end// -->

<script>
     function nme(){
     
          let name = document.getElementById('cat-name').value
          if(name == 0){
               document.getElementById('error1').innerText = "field required!!";
               return false
          }else{
               document.getElementById('error1').innerText = "";
               return true
          }
     }

     function slugee(){
     
          let name = document.getElementById('cat_slug').value
          if(name == 0){
               document.getElementById('error2').innerText = "field required!!";
               return false
          }else{
               document.getElementById('error2').innerText = "";
               return true
          }
     }

     function textee(){
     
          let name = document.getElementById('dicript').value
          if(name == 0){
               document.getElementById('error3').innerText = "field required!!";
               return false
          }else{
               document.getElementById('error3').innerText = "";
               return true
          }
     }


     function formee(){
          if(nme() && slugee() && textee()){
               return true
          }
          else{
               nme()
               slugee()
               textee()
               return false
          }
     }
</script>

<script>
     function dlt(id){
         swal({
             title: "Are you sure?",
             icon: "warning",
             buttons: true,
             dangerMode: true,
           })
           .then((willDelete) => {
             if (willDelete) {
                 var data = { 'id': id, "csrf_token": '{{csrf_token}}' }
                 $.ajax({
                     url: "{% url 'category_delete'  %}",
                     method: "POST",
                     data: data,
                     success: function (resp) {
                         swal("Poof! Your imaginary file has been deleted!", {
                             icon: "success",
                           }); 
                           $( "#tableeee" ). load(window. location. href + " #tableeee" );
                     } 
                 })
              
             } else {
               swal("Your category not deleted");
             }
           });
     }
 </script>

 
{% endblock %}