{% extends 'base.html' %}
{% load static %}


{% block contents %}

 <style>
	button.dt-button, div.dt-button, a.dt-button, input.dt-button{
		background-color: #3167eb;
		border-radius: 0.25rem;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		
}
 </style>

<section class="content-main">

	<div class="content-header">
		<h2 class="content-title">Sales report </h2>
		<div>
			<form onsubmit="return checking()" action="{% url 'sales_reprt' %}" method="post" >
			{% csrf_token %}
			<span style="color: red;" id="error1" ></span>	
				<label for="for"> from </label>
			<input onchange="first_date()"  type="date" name="from" id="from">
			<span style="color: red;" id="error2" ></span>
			<label for="for"> To </label>
			<input onchange="second_date()" type="date" name="to" id="to">
			<button onclick="filter()"  id="enjooy" class="btn btn-primary"><a ><i class="material-icons md-plus"></i> filter</a></button>
			</form>
		</div>
	</div>


	</header> <!-- card-header end// --> 
	{% if not orders_details %}
	<div>
		<h5 style="color: red;" >No data found in this date range</h5>
	</div>
	{% else %}
	<div class="table-responsive">
		<table  id="exampleeeee"class="table table-bordered">
			<thead  >
				
                  <tr >

                    <th  scope="col" >User</th>
                    <th scope="col">Payment method</th>
                    <th scope="col">Product</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Total</th>
                    <th scope="col">Status</th>
                    <th scope="col">Date</th>
                    

                </tr>
			</thead>
			<tbody>
				{% for i in orders_details %}
				<tr>
					<td id="value">{{i.username}}</td>
					<td>{{i.payment_method}}</td>
					<td>{{i.product}}</td>
					<td>{{i.product_stock}}</td>
					<td>{{i.total}}</td>
					<td>{{i.status}}</td>
					<td>{{i.date}}</td>
					
					
					
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div> 
	{% endif %}
	<!-- table-responsive //end -->
	</div>



	<!-- data table -->

	
<script>
	function first_date(){
		let value = document.getElementById('from').value
		if(value == 0){
			document.getElementById('error1').innerText = "*Required*"
			return false
		}
		else{
			document.getElementById('error1').innerText = ""
			return true

		}
	}

	function second_date(){
		let value = document.getElementById('to').value
		if(value == 0){
			document.getElementById('error2').innerText = "*Required*"
			return false
		}
		else{
			document.getElementById('error2').innerText = ""
			return true

		}
	}

	function checking(){
		if(first_date() && second_date()){
			return true
		}else{
			first_date()
			second_date()
			return false
		}
	}

	
</script>

    {% endblock %}
	<!-- card-bod