{% extends 'base_user.html' %}
{% load static %}

{% block contents %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<!-- Hero/Intro Slider Start -->
<div class="section ">
    <div class="hero-slider swiper-container slider-nav-style-1 slider-dot-style-1">
        <!-- Hero slider Active -->
        <div class="swiper-wrapper">
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide d-flex bg-color1">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 align-self-center sm-center-view">
                            <div class="hero-slide-content slider-animated-1">
                                <span class="category">Offer 2021</span>
                                <h2 class="title-1">Sale Up To </h2>
                                <h2 class="title-2"><span>50%</span> Off</h2>
                                <a href="#shopArea" class="btn btn-lg btn-primary btn-hover-dark"> Shop Now
                                    <i class="fa fa-shopping-basket ml-15px" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div
                            class="col-xl-7 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center position-relative">
                            <div class="show-case">
                                <div class="hero-slide-image">
                                    <img src="{% static 'images/slider-image/slider-1.png' %}" alt="" />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Single slider item -->
            <div class="hero-slide-item slider-height swiper-slide d-flex bg-color2">
                <div class="container align-self-center">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 align-self-center sm-center-view">
                            <div class="hero-slide-content slider-animated-1">
                                <span class="category">Offer 2021</span>
                                <h2 class="title-1">Sale Up To </h2>
                                <h2 class="title-2"><span>50%</span> Off</h2>
                                <a href="#shopArea" class="btn btn-lg btn-primary btn-hover-dark"> Shop Now
                                    <i class="fa fa-shopping-basket ml-15px" aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div
                            class="col-xl-7 col-lg-7 col-md-7 col-sm-7 d-flex justify-content-center position-relative">
                            <div class="show-case">
                                <div class="hero-slide-image">
                                    <img src="{% static 'images/slider-image/slider-2.png' %}" alt="" />
                                </div>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination swiper-pagination-white"></div>
        <!-- Add Arrows -->
        <div class="swiper-buttons">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</div>


<!-- Hero/Intro Slider End -->

<!-- Banner Area Start -->
<div class="banner-area pt-100px pb-100px">
    <div class="container">
        <div class="row">
            <div class="single-col">
                
                <a  class="single-banner">
                    <img src="{% static 'images/banner/1.jpg' %}" alt="">
                    <div class="item-disc">
                        <span class="item-title">Women</span>
                        <span class="item-amount">16 items</span>
                    </div>
                </a>
            </div>
            <div class="single-col center-col">
                <div class="single-banner">
                    <img src="{% static 'images/banner/2.jpg' %}" alt="">
                    <div class="item-disc">
                        <h2 class="title">#bestsellers</h2>
                       
                    </div>
                </div>
            </div>
            <div class="single-col">
                <a  class="single-banner">
                    <img src="{% static 'images/banner/3.jpg' %}" alt="">
                    <div class="item-disc">
                        <span class="item-title">Men</span>
                        <span class="item-amount">16 items</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Banner Area End -->


<!-- Feature Area Srart -->
<div class="feature-area pb-100px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6  ">
                <!-- single item -->
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'images/icons/1.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Free Shipping</h4>
                        <span class="sub-title">Capped at $39 per order</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-lg-4 col-md-6 mb-md-30px mb-lm-30px mt-lm-30px">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'images/icons/2.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Card Payments</h4>
                        <span class="sub-title">12 Months Installments</span>
                    </div>
                </div>
            </div>
            <!-- single item -->
            <div class="col-lg-4 col-md-6 ">
                <div class="single-feature">
                    <div class="feature-icon">
                        <img src="{% static 'images/icons/3.png' %}" alt="">
                    </div>
                    <div class="feature-content">
                        <h4 class="title">Easy Returns</h4>
                        <span class="sub-title">Shop With Confidence</span>
                    </div>
                </div>
                <!-- single item -->
            </div>
        </div>
    </div>
</div>
<!-- Feature Area End -->


<!-- Product Area Start -->
<div class="product-area">
    
    
    <div id="shopArea" class="container">
        <!-- Section Title & Tab Start -->
        <div class="row">
            <!-- Section Title Start -->
            <div class="col-lg col-md col-12">
                <div class="section-title mb-0">
                    <h2 style="font-weight: 800; margin-bottom: 11px; font-family: sans-serif; color: red;" class="text-center ">products</h2>
                </div>
            </div>
            <!-- Section Title End -->


        </div>
        <!-- Section Title & Tab End -->

        <div class="row">
            <div class="col">
                <div class="tab-content top-borber">
                    <!-- 1st tab start -->

                    <div class="tab-pane fade show active" id="tab-product-all">
                        <div class=" row">
                        {% for product in products %}
                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px " data-aos="fade-up"
                            data-aos-delay="200">
                            <!-- Single Prodect -->

                            <div class="product">

                                <div class="thumb">
                                    <a href="user_product_view/{{product.id}}" class="image">
                                        <img  src="{{product.image3.url}}"
                                            alt="Product" />
                                            <img class="hover-image"
                                             src="{{product.image3.url}}" alt="Product" />

                                    </a>
                                    <span class="badges">
                                        <span class="new">New</span>
                                    </span>
                                    <div class="actions">
                                        <a onclick="whishList('{{product.id}}')"  class="action wishlist" title="Wishlist"><i
                                                class="pe-7s-like"></i></a>
                                      
                                    </div>
                                    
                                    {% if product.amount_in_stock <= 0 %}
                                    <h4 class ="text-center" style="color: red;" >Out of Stock </h4>
                                    {% else %}
                                  <button title="Add To Cart"  onclick="cart('{{product.id}}')" class=" add-to-cart">Add
                                        To Cart</button>   
                                </div>
                                <div class="content">
                                    <h5 class="title"><a href="#">{{product.productname}}
                                        </a>
                                    </h5>
                                    {% if product.discount_price == None %}
                                    <span class="price">
                                        <span style="color: green;" class="new">Rs: {{product.price}}</span>
                                    </span>
                                    {% else %}
                                    <span style="margin-bottom: 3px;" class="price">
                                       <p style="color: green; margin-bottom: 2px;" class="new"></p> 
                                        <span style="color: green;" class="new">Rs: {{product.discount_price}}  ({{product.offer_name}})</span>
                                    </span>
                                    <span  class="price">
                                        <span style="color: red;" class="new ">Rs: <s >{{product.price}}</s></span>
                                    </span>
                                    {% endif %}
                                    {% endif %}
                                </div>

                            </div>

                        </div>
                        {% endfor %}

                    </div>

                </div>

            </div>


        </div>
    </div>
    <div class="pagination">
        <span class="step-links">
            {% if products.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ products.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ products.number }} of {{ products.paginator.num_pages}}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ products.next_page_number }}">next</a>
                <a href="?page={{ products.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</div>


<!-- Deal Area Start -->
<div class="deal-area pb-100px pt-100px">
    <div class="container ">
        <div class="row">
            <div class="col-12">
                <div class="deal-inner deal-bg position-relative pt-100px pb-100px"
                    data-bg-image="{% static 'images/deal-img/deal-bg.jpg' %}">
                    <div class="deal-wrapper">
                        <span class="category">#FASHION SHOP</span>
                        <h3 class="title">Deal Of The Day</h3>
                        <div class="deal-timing">
                            <div data-countdown="2021/12/31"></div>
                        </div>
                        <a href="" class="btn btn-lg btn-primary btn-hover-dark m-auto">
                            Shop
                            Now <i class="fa fa-shopping-basket ml-15px" aria-hidden="true"></i></a>
                    </div>
                    <div class="deal-image">
                        <img class="img-fluid" src="{% static 'images/deal-img/woman.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Deal Area End -->



<!-- Brand area start -->
<div class="brand-area pb-100px">
    <div class="container">
        <div class="brand-slider swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide brand-slider-item text-center">
                    <a ><img class=" img-fluid" src="{% static 'images/brand-logo/1.png' %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a ><img class=" img-fluid" src="{% static 'images/brand-logo/2.png' %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a ><img class=" img-fluid" src="{% static 'images/brand-logo/3.png' %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a ><img class=" img-fluid" src="{% static 'images/brand-logo/4.png' %}" alt="" /></a>
                </div>
                <div class="swiper-slide brand-slider-item text-center">
                    <a ><img class=" img-fluid" src="{% static 'images/brand-logo/5.png' %}" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand area end -->


{% endblock %}